{% extends 'home/index.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_errors(form.nom) }} {# Affiche les erreurs de validation pour le champ nom #}
        
        {{ form_row(form.mail) }}
        {{ form_errors(form.mail) }} {# Affiche les erreurs de validation pour le champ mail #}
        
        {{ form_row(form.numTel) }}
        {{ form_errors(form.numTel) }} {# Affiche les erreurs de validation pour le champ numTel #}
        
        {{ form_row(form.adresse) }}
        {{ form_errors(form.adresse) }} {# Affiche les erreurs de validation pour le champ adresse #}
        
        {{ form_row(form.mdp) }}
        {{ form_errors(form.mdp) }} {# Affiche les erreurs de validation pour le champ mdp #}
        
        {# Champ rôle masqué avec une valeur par défaut (par exemple, 2) #}
{{ form_widget(form.role, {'attr': {'value': '2'}}) }}
        <button type="submit">Register</button>
    {{ form_end(form) }}
{% endblock %}
