<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Données de l'utilisateur</title>
</head>
<body>
    <h1>Données de l'utilisateur</h1>
    <p>Id : {{ user.id }}</p>
    <p>Nom : {{ user.nom }}</p>
    <p>Adresse e-mail : {{ user.mail }}</p>
    <p>Numéro de téléphone : {{ user.numTel }}</p>
    <p>Adresse : {{ user.adresse }}</p>
    <p>Mot de passe : {{ user.mdp }}</p>
    <p>Rôle : {{ user.role.roleName }}</p>
</body>
</html>
